<% provide(:title, "بازیابی کلمه عبور ") %>
<h1>بازیابی کلمه عبور</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :رایانامه %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "کلمه عبور مرا مجددا تعریف کن", class: "btn btn-primary" %>
      <% end %>