<h1>Password reset</h1>

<p>Tبرای راه‌اندازی مجدد رمز عبور خود بر روی پیوند زیر کلیک نمایید:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>این پیوند تا ۲ ساعت دیگر منقضی می‌گردد.</p>

<p>
اگر شما درخواستی برای راه‌اندازی مجدد رمز عبور خود نداشته‌اید، از این رایانامه صرف نظر کنید و رمز عبور شما تغییری نخواهد کرد.
</p>