
#body_page {
  background: #DCE3DC; 
}

page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  padding: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

#logo_container {
  width : 8cm;
  height : 8cm;
  float : right;
}

#logo{
  width : 7cm;
  height : 7cm;
  float : right;
}

#desc{
  width : 8cm;
  height : 1cm;
  float : right;
  background-color :black;
  color:white;
  text-align: center;
}
#body {
    background: #DCE3DC url("/assets/images/books.png") no-repeat right top;
}
#kenar_logo_container {
  width : 11cm;
  height : 8cm;
  float : left;
  border-style: dashed ;
  padding:0;
  text-align: right;
}


#qr
{
  width : 100px;
  height :100px;
  float:left;
}

#titr1_sar{
  font-size:large;
  width : 7.4cm;
  height : 1.5cm;
  text-align: right;
  background-color :rgba(0,0,0,0.3);
}

#sarmaghale{
  border-style: ridge;
  width : 7.5cm;
  height : 21cm;
  float : right;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.3);
  text-align: right;

}

#titr2_sar{
  width : 11.9cm;
  height : 1.5cm;
  background-color :rgba(0,0,0,0.3);
  text-align: center;

}
#titre2{
  border-style: ridge;
  width : 12cm;
  height : 21cm;
  float : left;
  text-align: right;
}

#titr3_sar{
  border-style: dashed;
  width : 10cm;
  height : 1.5cm;
  text-align: center;
  background-color :rgba(0,0,0,0.3);

}
#titre3{
  border-style: ridge;
  width : 20cm;
  height: 15cm;
  text-align: right;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.3);
}

#titr4_sar{
  text-align: center;
  width : 20cm;
  height : 1.5cm;
  background-color :rgba(0,0,0,0.3);

}
#titre4{
  border-style: ridge;
  width : 20cm;
  height : 13cm;
  text-align: right;
} 


#shenasnameh
{
  width : 20cm;
  height : 1cm;
  float:right;
  text-align: center;
  background-color :rgba(0,0,0,0.3);
  line-height: 70%;
  color:blue;
}

p {
    white-space: nowrap;
} 



