/*
 *= require print
 */

@media print {
    #nav {
      display: none;
  }
    #hea {
      display: none;
  }
 #footer {
      display: none;
  }
 #section {
    width:21cm;
    height:1000px;
    float:left;
   }

 body {
      background-color:yellow;
      }
page[size="A4"] {
  background: white !important;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  padding: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  page-break-after: always;

}

#logo_container {
  width : 8cm;
  height : 8cm;
  float : right;
}

#logo{
  width : 8cm;
  height : 7cm;
  float : right;
}

#desc{
  width : 8cm;
  height : 1cm;
  float : right;
  background-color :black !important;
  color:white;
  text-align: center;
}
 #body {
    background: #DCE3DC url("/assets/images/books.png") no-repeat right top;
    -webkit-print-color-adjust:exact;
}
#kenar_logo_container {
  width : 11cm;
  height : 8cm;
  float : left;
  border-style: dashed ;
  padding: 0.5cm;
}


#titr1_sar{
  font-size:large;
  width : 7.4cm;
  height : 1.5cm;
  background-color :rgba(0,0,0,0.3)!important;
}

#sarmaghale{
  border-style: ridge;
  width : 7.5cm;
  height : 21cm;
  float : right;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.3);
  text-align: right;

}

#titr2_sar{
  width : 11.9cm;
  height : 1.5cm;
  background-color :rgba(0,0,0,0.3)!important;
  text-align: center;

}
#titre2{
  border-style: ridge;
  width : 12cm;
  height : 20cm;
  float : left;
  text-align: right;
}

#titr3_sar{
  border-style: dashed;
  width : 10cm;
  height : 1.5cm;
  text-align: center;
}
#titre2{
  width : 12cm;
  height : 21.5cm;
  float : left;
}

#titr3_sar{
  width : 10cm;
  height : 1.5cm;
  background-color :rgba(0,0,0,0.3)!important;

}
#titre3{
  border-style: ridge;
  width : 20cm;
  height: 15cm;
  text-align: right;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.3);
}

#titr4_sar{
  text-align: center;
  width : 20cm;
  height : 1.5cm;
  background-color :rgba(0,0,0,0.3);

}
#titre4{
  border-style: ridge;
  width : 20cm;
  height : 13cm;
  text-align: right;
} 


#shenasnameh
{
  width : 20cm;
  height : 1cm;
  float:right;
  text-align: center;
  background-color :rgba(0,0,0,0.3) !important;
  line-height: 70%;
  color:blue;
}

p {
    white-space: nowrap;
} 
  
}   

