
<h1></h1>
<p>لطفا با یکی از اکانت های زیر وارد شوید</p>

<a href="google_oauth2"><img src="/assets/images/gmail.png" alt="احراز اصالت با جیمیل" height="100"></a>
<a href="url"><img src="/assets/images/yahoo.jpg" alt="احراز اصالت با یاهو" height="100" ></a>

