<div>
<ul class="cbdb-menu">
	<% if logged_in? %>
          <li><a href="sessions/destroy" class="red dark">خروج</a> </li>
    <% else %>
          <li><a href="login" class="green dark">ورود</a></li>
    <% end %>
    <li><a href="#" class="green dark">راهنما</a></li>

  </li>
</ul>
  </div>

